.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5% 25% 5%;
}

.containerIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
}

.introText {
  text-align: justify;
}

.introImg {
  max-width: 150px;
  border-radius: 50%;
}

.containerCarrousel {
  margin: 0 0 20px 0;
}
