.carouselContainer {
  width: 100%;
}

.imagesContainer {
  margin: 0 5px;
}

.images {
  width: auto;
  height: 200px;
  max-height: 200px;
}

@media (min-width: 768px) {
  .carouselContainer {
    width: 90%;
  }

  .images {
    height: 50vh;
    max-height: none;
  }
}