.carouselContainer {
  width: 100%;
}

.imagesContainer {
  margin: 0 5px;
}

.images {
  width: auto;
  height: 200px;
  max-height: 200px;
}

.loader {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pink-viree);
  font-size: 1.1rem;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .images {
    height: 40vh;
    max-height: none;
  }

  .loader {
    height: 40vh;
  }
}

@media (min-width: 1201px) {
  .images {
    height: 50vh;
    max-height: none;
  }

  .loader {
    height: 50vh;
  }
}