.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30% 5% 15% 5%;
}

@media (min-width: 768px) {
  .container {
    padding: 19vh 11% 5% 11%;
  }
}