.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 140px 5% 15% 5%;
}

.containerImages {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.containerImage {
  display: flex;
  width: 100%;
}

.containerImage:nth-child(odd) {
  justify-content: flex-start;
}

.containerImage:nth-child(even) {
  justify-content: flex-end;
}

.titleMention {
  width: 100%;
  font-weight: normal;
  color: var(--pink-viree);
}

.containerImages2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.containerImage2 {
  display: flex;
  width: 100%;
}

.containerImage2:nth-child(odd) {
  justify-content: flex-start;
}

.containerImage2:nth-child(even) {
  justify-content: flex-end;
}

.img {
  max-width: 150px;
  border-radius: 50%;
}

.text {
  text-align: center;
  margin-top: 10px;
}

.popup {
  position: fixed;
  background-color: white;
  padding: 10px;
  color: black;
  max-width: 60%;
}

.popup h1 {
  font-family: 'VIREE', sans-serif;
  font-size: 1.3rem;
  margin: 0;
}

.popup p {
  white-space: pre-line;
  margin: 0;
}

@media (min-width: 768px) {
  .containerImages {
    position: relative;
    height: 1600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .containerImage {
    width: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Félix */
  .containerImage:nth-child(1) {
    top: -80px;
    left: 30%;
  }

  /* Saturnin */
  .containerImage:nth-child(2) {
    top: -40px;
    left: 65%;
  }

  /* Samuel */
  .containerImage:nth-child(3) {
    top: 100px;
    left: 0;
  }

  /* Antoine */
  .containerImage:nth-child(4) {
    top: 200px;
    left: 40%;
  }

  /* Julien */
  .containerImage:nth-child(5) {
    top: 350px;
    left: 12%;
  }

  /* Sybil */
  .containerImage:nth-child(6) {
    top: 250px;
    left: 75%;
  }

  /* Noé */
  .containerImage:nth-child(7) {
    top: 600px;
    left: 5%;
  }

  /* Constant */
  .containerImage:nth-child(8) {
    top: 500px;
    left: 40%;
  }

  /* Charlotte */
  .containerImage:nth-child(9) {
    top: 550px;
    left: 70%;
  }

  /* Clara */
  .containerImage:nth-child(10) {
    top: 780px;
    left: 38%;
  }

  /* Lise */
  .containerImage:nth-child(11) {
    top: 850px;
    left: 72%;
  }

  /* Melissa */
  .containerImage:nth-child(12) {
    top: 900px;
    left: 0;
  }

  /* Mathis */
  .containerImage:nth-child(13) {
    top: 1050px;
    left: 43%;
  }

  /* Matthis */
  .containerImage:nth-child(14) {
    top: 1150px;
    left: 75%;
  }

  /* Gustave */
  .containerImage:nth-child(15) {
    top: 1200px;
    left: 12%;
  }

  /* Hannah */
  .containerImage:nth-child(16) {
    top: 1350px;
    left: 48%;
  }

  .containerImages2 {
    position: relative;
    height: 450px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .containerImage2 {
    width: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Archibald */
  .containerImage2:nth-child(1) {
    top: 50px;
    left: 15%;
  }

  /* Tina */
  .containerImage2:nth-child(2) {
    top: -50px;
    left: 60%;
  }

  /* Marguerite */
  .containerImage2:nth-child(3) {
    top: 240px;
    left: 42%;
  }

  .img {
    max-width: 200px;
  }

  .container {
    padding: 17vh 11% 5% 11%;
  }
}