.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30% 5% 15% 5%;
}

.containerCard {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #fff;
  margin-bottom: 15%;
  padding: 8%;
  color: black;
  border: 2px solid var(--pink-viree);
  box-shadow: 10px 10px 0px 0px var(--pink-viree);
}

.containerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerLogo svg {
  max-width: 30%;
  fill: var(--pink-viree);
}

.containerTitleText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerTitle h1 {
  font-family: 'VIREE', sans-serif;
  font-size: 2rem;
  margin: 5% 0;
}

.containerInfos {
  padding: 8%;
  border: 2px solid black;
  background-color: var(--pink-viree);
}

@media (min-width: 768px) {
  .container {
    padding: 10% 11% 5% 11%;
  }

  .containerCard {
    margin-bottom: 5%;
    padding: 4%;
    flex-direction: row;
  }

  .containerLogo {
    width: 50px;
    height: 50px;
  }

  .containerLogo svg {
    width: 50px;
    max-width: none;
  }

  .containerTitleText {
    justify-content: flex-start;
  }

  .containerTitle {
    width: 100%;
    height: 50px;
    justify-content: flex-start;
  }

  .containerTitle h1 {
    margin: 0;
  }

  .containerInfos {
    padding: 3%;
  }
}