.container {
  padding-top: 8%;
}

.allContainer {
  position: relative;
  background-color: black;
}

.allContainerSticky {
  position: sticky;
  top: 0;
}

.svgContainer {
  height: 85vh;
  background-color: black;
}

.svgPath {
  position: sticky;
  top: 20%;
  width: 100%;
}

.svgPath svg {
  background-color: black;
}

.svgText {
  font-family: 'VIREE', sans-serif;
  font-size: 0.30rem;
  cursor: pointer;
}

.svgText:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.WIPContainer {
  margin-top: 20%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.WIPText {
  font-family: 'VIREE', sans-serif;
  text-align: center;
  color: white;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5% 15% 5%;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}


@media (min-width: 768px) {
  .svgContainer {
    height: 70vh;
    max-height: 70vh;
  }

  .allContainerSticky {
    top: 20%;
  }

  .svgPath {
    top: 0;
  }

  .svgPath svg {
    max-height: 70vh;
  }

  .svgText {
    font-size: 0.20rem;
  }

  .allContainer {
    margin-right: 8%;
  }

  .cardContainer {
    padding: 0 11% 5% 11%;
  }

  .WIPContainer {
    margin-top: 0;
  }
}