.container {
  padding-top: 8%;
}

.allContainer {
  position: relative;
  height: 3000px;
  background-color: black;
}

.svgContainer {
  position: sticky;
  top: 20%;
  width: 100%;
}

.svgContainer svg {
  background-color: black;
}

.svgText {
  font-family: 'VIREE', sans-serif;
  font-size: 0.35rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5% 15% 5%;
}

@media (min-width: 768px) {
  .allContainer {
    margin-right: 8%;
  }

  .cardContainer {
    padding: 0 11% 5% 11%;
  }

  .svgPath {
    height: 75vh;
  }
}