.container {
  padding-top: 8%;
}

.svgContainer {
  position: relative;
  height: 2500px;
  background-color: black;
}

.svgContainer svg {
  background-color: black;
}

.svgPath {
  position: sticky;
  top: 25%;
  height: 80vh;
}

.svgText {
  font-family: 'VIREE', sans-serif;
  font-size: 0.35rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5% 15% 5%;
}

@media (min-width: 768px) {
  .svgContainer {
    margin-right: 8%;
  }

  .cardContainer {
    padding: 0 11% 5% 11%;
  }
}