.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5% 4%;
  z-index: 3;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  justify-content: center;
  font-family: 'American Typewriter', serif;
}

.containerNav {
  width: 100%;
}

.containerNavFirstSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerNavSecondSection {
  position: relative;
}

.containerNavLeftSection {
  width: 50%;
}

.title {
  font-family: 'VIREE', sans-serif;
  font-size: 2rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
  text-wrap: nowrap;
  margin: 0 0 5px 0;
}

.title::before {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--pink-viree);
  z-index: -1;
  transform: translate(10px, 10px);
  text-shadow:
    -1px -1px 0 var(--pink-viree),
    -2px -2px 0 var(--pink-viree),
    -3px -3px 0 var(--pink-viree),
    -4px -4px 0 var(--pink-viree),
    -5px -5px 0 var(--pink-viree),
    -6px -6px 0 var(--pink-viree),
    -7px -7px 0 var(--pink-viree),
    -8px -8px 0 var(--pink-viree),
    -9px -9px 0 var(--pink-viree),
    -10px -10px 0 var(--pink-viree);
}

.subtitle {
  font-size: 1rem;
  font-style: italic;
  color: var(--pink-viree);
  font-weight: 200;
  margin: 0;
}

.containerNavRightSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.dropdwonSeparator {
  display: none;
  color: var(--pink-viree);
}

.dropdownContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  right: 0;
  z-index: 5;
  min-width: 100%;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s ease-out, z-index 0.5s step-end;
  background-color: black;
}

.dropdown.visible {
  z-index: 5;
  transform: scaleY(1);
  transition: transform 0.5s ease-out;
}

.dropdown.closing {
  z-index: 3;
  transform: scaleY(0);
  transition: transform 0.5s ease-out, z-index 0.5s step-start;
}

.navLink {
  text-decoration: none;
  text-wrap: nowrap;
  color: var(--pink-viree);
  font-size: 1rem;
}

.navLinkDropdown {
  text-decoration: none;
  text-wrap: nowrap;
  color: #fff;
  font-size: 1rem;
  margin: 5px;
  text-align: end;
}

.navLink:hover,
.navLinkDropdown:hover {
  color: var(--pink-viree);
  transition: 0.7s;
}

.btnTickets {
  position: absolute;
  right: auto;
  top: 7px;
  background-color: var(--pink-viree);
  border: 1px white solid;
  border-radius: 5px;
  color: white;
  font-family: 'VIREE', sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 5px 20px;
  text-align: center;
  cursor: pointer;
  z-index: 4;
}


.containerSocialNetworks {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btnSocialNetworks {
  background-color: var(--pink-viree);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btnSocialNetworks svg {
  width: 60%;
  height: 60%;
  fill: white;
}

.btnSocialNetworks:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

@media (min-width: 768px) {
  .container {
    padding: 20px 3%;
  }

  .containerNavRightSection {
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.3rem;
    margin-right: 15px;
  }

  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .dropdwonSeparator {
    display: block;
  }

  .navLink {
    font-size: 1.2rem;
  }

  .logo {
    width: auto;
  }

  .btnTickets {
    right: 15px;
    top: -10px;
    padding: 10px 40px;
    font-size: 1.5rem;
    border-radius: 15px;
  }

  .containerSocialNetworks {
    bottom: auto;
    right: calc(3% + 15px);
    width: auto;
    height: 100%;
    flex-direction: column;
  }

}