.containerPortraits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 0 20px 0;
}

.portraitContainer {
  position: relative;
  cursor: pointer;
  width: 150px;
  height: 150px;
}

.portraitImg {
  width: 150px;
  height: 150px;
}

.legend {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(195, 143, 190, 0.7), rgba(0, 0, 0, 0));
  color: white;
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.7s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


@media (min-width: 768px) {
  .portraitImg {
    width: 200px;
    height: 200px;
  }

  .portraitContainer {
    width: 200px;
    height: 200px;
  }

  .legend p {
    margin-bottom: 8px;
  }
}