.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5% 0;
}

.title {
  font-family: 'VIREE', sans-serif;
  color: var(--pink-viree);
  font-size: 2.5rem;
  margin: 0;
  text-transform: uppercase;
}

.subTitle{
  color: var(--pink-viree);
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
}