@font-face {
  font-family: 'VIREE';
  src: url('/src/assets/fonts/VIREE-Regular.otf') format('opentype');
}

:root {
  --pink-viree: #c38fbe;
}

body {
  margin: 0;
  font-family: 'American Typewriter', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}
