@font-face {
  font-family: 'VIREE';
  src: url('/src/assets/fonts/VIREE-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'MinionPro Regular';
  src: url('/src/assets/fonts/MinionPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'American Typewriter';
  src: url('/src/assets/fonts/AmericanTypewriter.ttc') format('truetype');
}

:root {
  --pink-viree: #fc8bf2;
}

body {
  margin: 0;
  font-family: 'American Typewriter', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

.slick-prev:before, .slick-next:before {
  color: var(--pink-viree) !important;
}

.slick-prev {
  left: 8px !important;
}

.slick-next {
  right: 8px !important;
}

.slick-prev, .slick-next {
  z-index: 3 !important;
  display: none !important;
}

@media (min-width: 768px) {
  .slick-prev:before, .slick-next:before {
    font-size: 25px !important;
  }

  .slick-prev, .slick-next {
    width: 25px !important;
    height: 25px !important;
    display: block !important;
  }
}